.parent-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.container {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin: auto;
    width: 90%;
    max-width: 435px;
    height: 80%; 
    margin-top: 10%;
    margin-bottom: 10%;
    background: #fff;
    padding-bottom: 20px;
    /* position: relative; */
    border: 2px solid #8FBC8F;
    border-radius: 20px;
    margin-left: 20%;
    /* transform: translateX(-50%); */
  }
  
  .header {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    width: 100%;
  }
  
  .text {
    color: #8FBC8F;
    font-size: 35px;
    font-weight: 650;
  }
  
  .underline {
    width: 140px;
    height: 5px;
    background: #8FBC8F;
    border-radius: 7px;
  }
  
  .inputs {
    margin-top: 5%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%; 
  }
  
  .input {
    align-items: center;
    display: flex;
    margin: 5px;
    width: 85%; 
    max-width: 400px;
    height: 45px; 
    background-color: white;
    border: 1px solid black;
  }
  
  .input img {
    margin: 2px 8%; 
  }
  
  .input input {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 18px;
  }
  
  .submit-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    /* gap: 10px; */
    margin: 5% auto; 
  }
  
  .submit-container input[type="submit"] {
    width: 30%; 
    height: 50px;
    background-color: #4caf50;
    color: white;
    padding: 3px 3px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-container input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .our-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    width: 90%; 
    max-width: 400px;
    /* max-height: 500px; */
    height: 70vh; 
    margin-top: 10.5%;
    margin-bottom: 20%;
    background: white;
    padding-bottom: 20px;
    position: relative;
    border: 2px solid #8FBC8F;
    border-radius: 20px;
    top: 10%;
    right: 10%;
    /* transform: translateX(50%); */
  }
  
  .header1 {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
  }
  
  .text1 {
    color: #8FBC8F;
    font-size: 35px;
    font-weight: 650;
  }
  
  .underline1 {
    width: 140px;
    height: 5px;
    background: #8FBC8F;
    border-radius: 7px;
  }
  
  .Sub-Head {
    margin-top: 5%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-top: 5%; 
    margin: auto;
    
    width: 90%; 
    max-width: 300px;
    height: 15vh; 
    background-color: #eaeaea;
    /* bottom: 5px; */
    border-radius: 6px;
  }


  
  .Sub-Head .texts {
    
    color: black;
    font-size: 20px;
    font-weight: 400;
  }
  
  .Sub-Head .Info {
    
    align-items: center;
    
    color: black;
    font-size: 20px;
  }
  